.first_section {
  width: 100%;
  background: black;
  padding: 50px;
  height: 800px;
}

.letters_container {
  width: 100%;
}

.letters_row {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.primary {
  width: 80px;
  height: 100px;
  color: yellow;
  background: pink;
}

.secondary {
  width: 80px;
  height: 100px;
  color: teal;
  background: grey;
}


.letter {
  font-size: 100px;
  font-family: Arial;
}
