.first_section {
  width: 100%;
  background: black;
  padding: 50px;
  height: 800px;
}

.letters_container {
  width: 100%;
}

.letters_row {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.letter {
  width: 80px;
  height: 100px;
}

.primary {
  color: yellow;
  background: pink;
}

.secondary {
  color: teal;
  background: grey;
}
