.section {
  width: 100%;
  padding: 50px;
  height: 400px;
}
.section_odd {
  background: black;
}

.section_even {
  background: white;
}

.content_container {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.primary {
  width: 80px;
  height: 100px;
  color: yellow;
  background: pink;
}

.secondary {
  width: 80px;
  height: 100px;
  color: teal;
  background: grey;
}

.letter {
  font-size: 100px;
  font-family: Arial;
}
